<div class="col-xs-12 text-center"><h2>LOGIN PAGE</h2></div>
<div class="col-xs-10 col-xs-offset-1">
{{paper-input label="Login (email)" type="email" value=email icon="email" required=true}}
{{paper-input label="Password" type="password" value=password icon="lock" required=true}}
{{#paper-button raised=true primary=true}}Login{{/paper-button}}
</div>
