<div class="container">
<h1>Titre</h1>
<h4>Indeterminate mode</h4>
{{paper-progress-circular}}
{{#link-to 'app.login'}}Login{{/link-to}}<br/>
{{#link-to 'app.register'}}Register{{/link-to}}
{{outlet}}
</div>
