  <div id="header" class="flex">
    <div class="left pull-left">
      {{#link-to "app"}}
      <img class="img-responsive" src="/imgs/logo.png"/>
      {{/link-to}}
    </div>
    <div class="right pull-left">
      {{#paper-menu position="target-right target" isOpen=menuIsOpen}}
        {{#paper-button action="toggle" onBlur="toogle" icon-button=true}}{{paper-icon "menu" class="md-menu-origin"}}{{/paper-button}}
      {{else}}
        {{#paper-menu-item action="openLogin"}}Login{{/paper-menu-item}}
      {{/paper-menu}}
    </div>
  </div>
  <div id="main-container">
    {{outlet}}
  </div>
