  <div id="header">
    <img class="img-responsive" src="/imgs/logo.png"/>
    {{#link-to 'app.login'}}Login{{/link-to}}
    {{#link-to 'app.register'}}Register{{/link-to}}
  </div>
  <div id="main-container">
    {{outlet}}
  </div>
